<!-- <nav>
    <div class="nav-wrapper #757575 grey darken-1">
      <a href="{% url 'index' %}" class="brand-logo">Deepfake Detection</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Home</a></li>
      </ul>
    </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #395B64;">
  <div class="container-fluid">
    <a class="navbar-brand"  href="{% url 'index' %}">Deepfake</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>